@use '@/scss/styles.scss' as *;

.userInterface_container {
  @extend .flex-center-xy;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
